<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linux Administration kurssi 2025</title>
</head>
<body>
    <h1>Tervetuloa sivulle! &#128526;</h1>
    <p> Tätä sivua rakentelen osana Oulun Ammattikorkeakoulun Linux Administration-kurssia.</p>
    <h2>Aika MySQL-tietokannasta:</h2>
    <p> &#128341; {{ time }}</p>
    <h2>Katso täältä Oulun kaupungin tulostusmäärät vuodesta 2019 lähtien:</h2>
    <a href="http://86.50.23.106/data-analysis/">Kilkkaa linkkiä!</a>
</body>
</html>